/*
 *
 * Jacob Quirk April 15, 2017
 * Main css for the website QCoding
 * The goal of the css is for mobile accessibility.
 * But also a great experience for reading the tutorials 
 * in a browser.
 *
*/


/*
    My colors 
    dark gray #757571
    light blue #6abed8
    white #f0f0f0
    gray #b0aba0
    black #181712
*/


/* Html */

* {
    color: #b0aba0;
}

body {
    /* background-color: #181712; */
    background: #000000 url("pictures/background.JPG") repeat center;
    /* made it really tiny so it looks ok */
    background-size: 10px 10px;
    width: 80%;
    margin: auto;
}

.qheaderbox {
    border: #757571 3px solid;
    border-radius: 10px;
    text-align: center;
}

.qicon {
    float: right;
    background-color: transparent;
    width: 7em;
}

.qborder {
    border: 1px #757571 solid;
}

p {
    font-size: 2em;
}

p a {
    font-weight: bold;
    color: white;
}

.qimg {
    border-radius: 10px;
    border: 2px solid white;
    height: auto;
    width: 100%;
}

dt {
    padding: 40px;
}

dd {
    margin-left: 100px;
    margin-right: 100px;
}


/* Nav */

nav {
    display: flex;
    justify-content: center;
}

nav a {
    border: 2px solid white;
    padding: 10px;
}

ul, a {
    text-decoration: none;
    list-style: none;
}

li {
    display: inline;
}

dt a {
    font-weight: bold;
    color: white;
}


/* Main */

.qcontent {
    padding: 20px;
}

footer {
    padding: 10px;
    text-align: center;
}